<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Recherche de livres eBook sur Google Book avec Vue.js et Axios">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
	<link rel="stylesheet" href="libs/css/bootstrap.min.css">
	<link rel="stylesheet" href="libs/css/style.css"/>
	<title>Recherche de livres eBook sur Google Book - Vue.js, Axios</title>
</head>
<body>
<div id="app">
	<div class="container-fluid">
		<div class="row justify-content-center mb-3">
			<h1 class="text-white mb-3">
				Recherche de livres eBook sur Google Book - Vue.js, Axios
			</h1>
		</div>
		<div class="row mb-3 text-center justify-content-center">
			<div class="col-6 bg-light border border-secondary rounded-lg shadow-lg">
				<form @submit.prevent="submit">
					<div class="form-group">
						<label class="mt-2 h4" for="search">
							Saisir un terme (titre, auteur, ...)
						</label>
						<input id="search" type="text" class="form-control" v-model="books">
						<br>
						<search-button></search-button>
					</div>
				</form>

				<div v-if="results === undefined" class="alert-danger text-white p-3 mb-3 font-weight-bold">
					Rien trouvé désolé avec le terme '{{ books }}'
				</div>
				<div v-if="results !== undefined && isOk" class="alert-success text-white p-3 mb-3 font-weight-bold">
					Résultats de recherche pour '{{ books }}'
				</div>
			</div>
		</div>
		<table class="table table-dark">
			<thead>
			<tr>
				<th scope="col">
					Titre
				</th>
				<th scope="col">
					Auteur
				</th>
				<th scope="col">
					Image
				</th>
				<th scope="col">
					Editeur
				</th>
				<th scope="col">
					Année de parution
				</th>
				<th scope="col">
					Genre
				</th>
				<th scope="col">
					Langage
				</th>
				<th scope="col">
					Nbr pages
				</th>
				<th scope="col">
					ISBN-10
				</th>
				<th scope="col">
					ISBN-13
				</th>

			</tr>
			</thead>
			<tbody>

			<tr v-for="result in results" :key="result.items">

				<td>
					{{ result.volumeInfo.title }}
				</td>
				<td v-if="result.volumeInfo.authors">
					{{ result.volumeInfo.authors[0] }}
				</td>
				<td v-else>
					Auteur inconnu
				</td>
				<td v-if="result.volumeInfo.imageLinks">
					<img :src="result.volumeInfo.imageLinks.thumbnail" :alt="result.volumeInfo.title" :title="result.volumeInfo.title">
				</td>
				<td v-else>
					<img src="libs/images/content.png">
				</td>
				<td v-if="result.volumeInfo.publisher">
					{{ result.volumeInfo.publisher }}
				</td>
				<td v-else>
					Editeur inconnu
				</td>
				<td v-if="result.volumeInfo.categories">
					{{ result.volumeInfo.categories[0] }}
				</td>
				<td v-else>
					Genre inconnu
				</td>

				<td v-if="result.volumeInfo.publishedDate">
					{{ result.volumeInfo.publishedDate }}
				</td>
				<td v-else>
					Date de parution inconnue
				</td>

				<td v-if="result.volumeInfo.language">
					{{ result.volumeInfo.language }}
				</td>
				<td v-else>
					Pas défini
				</td>
				<td v-if="result.volumeInfo.pageCount">
					{{ result.volumeInfo.pageCount }}
				</td>
				<td v-else>
					nombre de pages inconnu
				</td>

				<td v-if="result.volumeInfo.industryIdentifiers[0]">
					{{ result.volumeInfo.industryIdentifiers[0].identifier }}
				</td>
				<td v-else>
					ISBN-10 inconnu
				</td>

				<td v-if="result.volumeInfo.industryIdentifiers[1]">
					{{ result.volumeInfo.industryIdentifiers[1].identifier }}
				</td>
				<td v-else>
					ISBN-13 inconnu
				</td>

			</tr>
			</tbody>
		</table>
	</div>
</div>
<script src="libs/js/vue.js"></script>
<script src="libs/js/axios.min.js"></script>
<script src="libs/js/vueApp.js"></script>
</body>
</html>